@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
html {
  font-family: 'Lato', sans-serif;
}
.navbar{
  width: 100%;
  height:64px;
  background-color: #98AEBC;
  ;

  position: fixed;
 top: 0;
 background-attachment:scroll;
 z-index: 100;
  display: flex;
  color: #003659;
  margin: auto;

}
.yum2{
  list-style-type: none;
  display: flex;
  text-indent: 50px;
  text-decoration: none;
  color: white;
  align-items: center;
  width: 80%;
  text-transform: uppercase;
}
.test{
  list-style-type: none;
  display: flex;
  text-indent: 50px;
  text-decoration: none;
  color: white;
  align-items: center;
  color: #003659;
  text-transform: uppercase;
}
.secondHalf{
  width: 10%;
  height: 50px;
  display: flex;
  align-items: center;
}
.subSecondHalf{
  display: block;
  width: 80%;
  height: 50px;
}
a:-webkit-any-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  color: #003659;
  /* text-transform: uppercase; */
  font-size: 16px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nameTop{
  margin-top: -5px;
  font-size: 2.2rem;
  letter-spacing: 2px;
  font-weight: bold;
  color:  #003659;
}
.logoName{
  font-size: 10px;
  margin-top: -40px;
  color: red;
}
.zurag2{
  width: 134px;
  height: 59px;

}
.half{
  width: 80%;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

/* Home */
.allSlide{
  margin-top: 64px;
}
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100vh;
  margin-top: 64px;
  position: relative;

}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;

}
.span{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #003659;
  font-weight: 600;
  position: absolute;
  text-transform: uppercase;
  top: 22px;
  width: auto;
  font-size: 1.4rem;
  }
.each-slide-effect  h1{
  text-shadow: 2px 10px 2px  #00000068;
  position:relative;
    box-shadow: #003659 ;
    font-style: bold  ;
    Font-size: 70px;
    Line-height: 84px;
    Line-height: 100%;
    color: white;
}
.each{
  display: flex;
  background-size: contain;
  height: 320px;
  width: 100%;

}
.threeImage{
  /* background-image: linear-gradient(to right, red , yellow); */
  width: 100%;
  background-size: cover;
  position: relative;
  background-position: center;
}
.threeImage span{
  position: absolute;
  left: 30%;
  right: 50%;
  width: 250px;
  top: 10%;
}
.threeclass{
  width: 100%;
  height: 400px;
}
.middleComp{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #003659;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.middleComp h1{
  font-size: 50px;
}
.middleComp h2{
  font-weight: 100;
  font-size: 20px;
}
.middleComp span{
  width: 139px;
  height: 1px;
  background-color: red;
}

.buuton{
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.buuton button {
  width: 255px;
  height: 68px;
  border-radius: 50px;
  background: #003659;
  color: white;
  font-size: 16px;
  border: none;
}

.news{
  width: 80%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  margin: auto;
}
.card{
  width: 440px;
  font-size: 10px;
  color:#003659;
  
}
.line{
  width: 139px;
  height: 1px;
  background-color: red;
}
.zurag{
  max-width: 100%;
  max-height: 90%;
  display: block;

}
.imageComp{
  width: 100%;
  height: 200px;
  display: flex;

}
.footer{
  width: 100%;
  height: 200px;
  background-color:#98AEBC;
  margin: auto;

}
.footerCard{
  width: 30%;
  color: #003659;
  height: 60%;
  text-transform: uppercase;
  margin-top: 20px;
}
.footerCard h1{
  font-size: 20px;
}
.footerCard h2{
  font-size: 20px;
  font-weight: 200;
}
.subFooter{
  width: 80%;
  height: 200px;
 margin: auto;
  background-color:#98AEBC;
  display: flex;
  justify-content: space-around;

}
.icons{

  display: flex;
  text-indent: 20px;
}
.background{
  background-image: url(https://images.unsplash.com/photo-1581342995886-14044cadee77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3377&q=80);
  width: 100%;
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}
.background span{
  font-size: 2.5rem;
  position: absolute;

  left: 40%;
  margin-top: 100px;
  font-weight: bolder;
  right: 50%;
}
.secondImageslider{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  margin: auto;

}
.secondImageslider > div{
  display: flex;
  align-items: center;
  justify-content: center;
    height: 380px;
    width: 33%;
    border-radius: 2%;
}
.background h1{
  width: 50%;
    position: absolute;
    left: 35%;
    right: 50%;
    top: 20%;
    color:#003659;
    font-size: 50px;
    font-weight: 500;
}
.aboutUs{
  
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
}
.randomPic{
  display: flex;
  align-items: center;
  padding: 20px;
  width: 50%;
  height: 100%;
}
.randomPic img{
  margin: auto;
  height: 100%;
}
.content{
  width: 50%;
}
.content p {
  color: #003659;
  font-size: 25px;
}
.content{
  width: 80%;
  margin: auto;
}
.topLayer{
  margin-top: 50px;
  width: 50%;
}
.dropdown {
  position: relative;
  display: inline-block;;
  list-style-type: none;
}

.dropdown-content {
  display: none;
  text-decoration: none;
  color: #003659;
  list-style-type: none;
  position: absolute;
background: rgba(255, 255, 255, 0.74);
  width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 5px;
  border-radius: 4px;
}
.dropdown-content li{
  font-size: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.back{
  width: 80%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.quote{
  font-size: 60px;
  margin: auto;
  padding-bottom: 50px;
  color:#003659;
  font-weight: 700;
  align-items: center;
  text-transform: uppercase;
}
.quote1{
  font-size: 40px;
  margin: auto;
  padding-bottom: 50px;
  color:#003659;
  font-weight: 700;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.team{
  width: 80%;
  margin: auto; 
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.child{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr ;
}
.teamMembers{
  width: 300px;
  margin: auto;
}
.nameMember{
  width: 280px;
  height: 404px;
}
.boldName{
  color: #003659;
  font-weight: bold;
  font-size: 20px;
}
.names{
  width: 280px;
  text-align: center;
  color: #003659;
}
.thinName{
  color: #003659;
  font-size: thin;
}
.middle{
  margin: auto;
  padding-bottom: 50px;
}
.line1{
  width: 200px;
  border: 1px solid red;
  margin: auto;
}
.greetingHalf{
  width: 100%;
  margin: auto;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.halfimg{
  width: 38%;
}
.greetingOther{
  width: 60%;

}
.greetingOther h3{
  color: #003659;
  font-weight: 300;
}
.ceo{
  width: 100%;
}
.greetingOther p{
  color: #003659;
  font-weight: bold;
}
.bottomAnimated{
  width: 100%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.icons1{
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}
.icons1 img{
 height: 115px;
}
.service{
  margin-top: 100px;
  width: 80%;
  margin: auto;
}
.context{
  width: 80%;
  margin: auto;
}
.appear{
  letter-spacing: 1px;
}
.appear h4{
  color: #003659;
  font-weight: 800;
  font-size: 20px;
}
.appear p{
  color: #003659;
  font-weight: 300;
  font-size: 18px;
}
.appear span{
  color: red;
}
.paragraph{
  margin-top: 500px;
  width: 80%;
  margin: auto;
  padding: 20px;
}
.paragraph p{
  font-size: 21px;
  color: #003659;
}
.each-slide-effect1 > div {
  width: 100%;
  height: 600px;
  background-position: center;

}
.child1{
 padding-top: 50px;
  width: 80%;
  display: grid;

  grid-template-columns: 1fr 1fr ;
  margin: auto;
}
.newsComp:nth-child(even){
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
}
.newsComp{
  width: 600px;
  margin-top: 20px;
  margin: auto;
}
.newsComp h4{
  color: #003659;
  width: 560px;
  font-size: 16px;
}
.hover:hover{
  cursor: pointer;
}



#App {
  font-family: sans-serif;
  color: white;
  height: 100vh;
  overflow: hidden;
  display: none;
}
.sidebar{
  display: none;
}

#page-wrap {
  text-align: center;
  color: white;
  overflow: auto;

  /* Prevent sidebar from showing a scrollbar on page */

}

/* Individual item */
.bm-item {
  display: inline-block;
  color: white;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}
.bm-item a{
  color: white;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 50px;
  height: 30px;
  left: 36px;
  top: 36px;
  color: white;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
  color: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross  {
  color: white;
  background: #bdc3c7;
  overflow: hidden;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 1.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

.test12{
  margin-top: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20%;
}


@media screen and (max-width: 1810px) {
  .half{
    width: 90%;
  }
}


@media screen and (max-width: 1620px) {
  .half{
    width: 90%;
  }
  .yum2{
    text-indent: 40px;
  }
  .test{
    text-indent: 30px;
  }
}
@media screen and (max-width: 1515px) {
  .half{
    width: 90%;
  }
  .yum2{
    text-indent: 30px;
  }
  .test{
    text-indent: 30px;
  }
}
@media screen and (max-width: 1440px) {
  .half{
    width: 90%;
  }
  .yum2{
    text-indent: 20px;
  }
  .test{
    width: 100px;
    text-indent: 20px;
  }
}
@media screen and (max-width: 1358px) {
  .half{
    width: 100%;
  }
  .yum2{
    text-indent: 20px;
  }
  .test{
    width: 100px;
    text-indent: 20px;
  }
}
@media screen and (max-width: 1268px) {
 
  .half{
    width: 100%;
  }
  .yum2{
    text-indent: 20px;
    font-size: 1rem;
  }
  .aboutUs{
    display: inline-block;
  }
  .randomPic{
    width: 90%;
  }
  .secondImageslider{
    width: 100%;
  }
  .threeImage{
    width: 32%;
  }
  .test{
    width: 100px;
    text-indent: 20px;
  }
  a:-webkit-any-link{
    font-size: 14px
  }
  .zurag2{
    width: 120px;
    height: 50px;
  }
}
@media screen and (max-width: 1080px) {
  .half{
    width: 100%;
  }
  .yum2{
    text-indent: 20px;
    font-size: 1rem;
  }
  .test{
    width: 100px;
    text-indent: 20px;
  }
  a:-webkit-any-link{
    font-size: 14px
  }
  .zurag2{
    width: 120px;
    height: 50px;
  }
  .threeImage span{

    position: absolute;
    left: 30%;
    font-size: 1rem;
    width: 100px;
  }
  .secondImageslider > div{
    height: 200px;
  }
  .secondImageslider{
    height: auto;
  }
  .randomPic img{
    width: 80%;
    padding: 0%;
  }
  .quote{
    text-align: center;
  }

}

@media screen and (max-width: 1101px) { 
  .navbar{
    display: flex;
    width: 100%;
  }
  .half{
    width: 60%;
  }
  .yum2{
    display: none;
  }
  .test{
    width: 100px;
    text-indent: 20px;
    display: flex;
    justify-content: end;
  }
  .zurag2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
  }
  .sidebar{
    display: block;
  }
  .bm-burger-button{
    margin-top: -15px;
    width: 40px;
  }
}

@media screen and (max-width: 900px) {
  .navbar{
    width: 100%;
  }
  .yum2{
    display: none;
  }
  .test{
    width: 100px;
    text-indent: 20px;
    display: flex;
    justify-content: end;
  }
  .zurag2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
  }
  .sidebar{
    display: block;
  }
  .bm-burger-button{
    margin-top: -15px;
    width: 40px;
  }
  .footerCard h2{
    font-size: 1rem;
  }
  .icons{
    width: 100px;
    text-indent: 10px;
  }
  .subFooter{
    display: inline-block;
    margin: auto;
    height: auto;
  }
  .footer{
    height: auto;
  }
  .footerCard{
    width: 80%;
    margin: auto;
  }
} 
@media screen and (max-width: 747px) { 
  .greetingHalf{
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  .halfimg{
    margin: auto;
  }
  .ceo{
    width: 100%;
  }
  .greetingOther{
    text-align: center;
    margin: auto;
  }
  .icons1{
    margin-top: 50px;
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    
  }
}

@media screen and (max-width: 500px) {
 .each-slide-effect h1{
  font-size: 2rem;
 }
 .background span{
  font-size: 1.5rem;
 }
 .content p{
  font-size: 20px;
 }
 .middleComp h1{
  font-size: 2rem;
  text-align: center;
 }
 .middleComp h2{
  font-size: 0.8rem;
 }
 .randomPic img{
  display: none;
 }
 .randomPic{
  background-image: url(https://s3-alpha-sig.figma.com/img/07fc/f631/ba05a3fd75cafafc3310dddfc6e869cf?Expires=1662940800&Signature=BHTeOSn0rVz-qVNtaiNvbGFq9wn2es5g5P~dGi1lJlaNgK6o2dwk0YI4mkfJ8g2HIkRLOqvztZ0dBvwZXKP9QeqdIiO3jwklHorXnmENJiGHg5pewZvAFDekTZgCXZD0ny~RyxJoL-w42wkrXsD22uijYtRL8ibMD4flJgpxzdfh~ld-WfrR~o-X~V8cqHR-hN4Vp0A9NwH2BitHFwgJVpqA67qid5MSChcAgiwv~eZ2d3lcYMEp2eDyqHLxY-~aOcX4DHsPgYJzgL4aHZD~iKUt3wGbPIGEd6vajSWeGQTWwGABAJmJU38Y-lx4i2FSjkuzOSnpG~Ni67fuR8rq6Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
 .buuton button{
  width: 200px;
  height: 50px;
  font-size: 0.8rem;
 }
 .secondImageslider{
  display: block;
 }
 .threeImage {
  width: 80%;
  margin: auto;
  margin-top: 20px;
 }
 .threeImage span{
  font-size: 0.5rem;
  position: absolute;
  left: 10%;
 }
 .card {
  width: 80%;
 }
 .news{
  display:flex;
  flex-direction: column;
  overflow-y: scroll;
  justify-content: center;
 }
 .quote1{
  text-align: center;
 }
 .dropdown-content{
  background-color: #003659;
  padding: 20px;
 }
 .dropdown-content a{
  display: block;
 }
} 